*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}
.navbar{
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(209, 248, 248);
}
.navbar h1{
    font-family: fantasy;
    color: rgb(6, 3, 69);
    font-weight: 100;
}
.navbar input {
    padding: 8px;
    width: 250px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgb(6, 3, 69);
    color: rgb(6, 3, 69);
    background-color: rgb(241, 254, 255);
}
.navbar select {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgb(6, 3, 69);
    background:none;
    outline: none;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 26px;
}
.navbar a:hover{
    color: rgb(7, 7, 133);
    text-decoration: underline;
}
.products{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 2%;
}
.card{
    width: 21%;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all;
    transition-duration: 0.5s;
    font-family: cursive;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 250px;
    object-fit: contain;
}
.card h3{
    color: rgb(15, 10, 100);
}
.card h2{
    color: green;
}
.wish{
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.wish img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.viewB button{
    width: 150px;
    height: 35px;
    background-color: white;
    border: 1px solid rgb(1, 1, 87);
    border-radius: 35px;
    color: rgb(1, 1, 87);
    cursor: pointer;
}