*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.navbar{
    height:10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(209, 248, 248);
}
.navbar h1{
    font-family: fantasy;
    color: rgb(6, 3, 69);
    font-weight: 100;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 26px;
}
.navbar a:hover{
    color: rgb(7, 7, 133);
    text-decoration: underline;
}
.product{
    width: 80%;
    margin: auto;
    height: 75vh;
    margin-top: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:1% 2%;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.imageSection{
    width: 50%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainimg{   
    width: 100%;
    height: 75%;  
    display: flex;
    justify-content: space-between;
}
.buttons{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.buttons button{
    padding: 1.5% 6%;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: larger;
}
.cart{
    background-color: orange;
}
.cart:hover{
    background-color: rgb(176, 116, 5);
}
.buy{
    background-color: green;
}
.buy:hover{
    background-color: rgb(1, 98, 1);
}
.images{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.images img{
    width: 80%;
    height: 80px;
    object-fit: contain;
}
.thumbnail{
    width: 80%;
    height: 90%;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productDetails{
    width: 45%;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.details{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.category {
    color: #a1a1aa; 
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 200; 
  }

  .title {
    font-size: 1.25rem;
    font-weight: 200;   
    color: #312e81;     
  }

  .brand {
    color: #71717a;     
    font-weight: 200;   
  }
.ratings{
    display: flex;
    gap: 12px;
    align-items: center;
}
.rating{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: green;
    color: white;
    font-size: 14px;
    padding:2px  4px;
    border-radius: 4px;
}
.rating img{
    width: 14px;
    height: 14px;
}
.reviews {
    color: #6b7280;      
    font-weight: 600;    
    font-size: 14px;    
}
.pricing {
    display: flex;
    gap: 1rem;           
    align-items: baseline;
  }

  .discounted-price {
    font-size: 1.875rem;   
    font-weight: 500;  
    font-family: sans-serif;
  }

  .original-price {
    font-size: 1rem;      
    color: #a1a1aa;   
    text-decoration: line-through;
    font-weight: 500;     
    font-family: sans-serif;
  }

  .discount {
    font-size: 1rem;       
    color: #047857;       
    font-weight: 600;       
    font-family: sans-serif;
  }
.tags {
    display: flex;
    gap: 5px;
    align-items: center;
}
.tag{
    height: 30px;
    padding: 0 5%;
    border-radius: 30px;
    border: 1px solid rgb(176, 174, 174);
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(78, 77, 77);
}
.tag:hover{
    background-color: rgb(218, 215, 215);
}
  .description{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: start;
    text-align: justify;
    border: 1px solid rgb(198, 197, 197);
    box-sizing: border-box;
    padding:2% 3%;
  }
.description p{
    font-size: 14px;
}
.pdetails  table,.pdetails  td,.pdetails  th {  
    border: 1px solid #878787;
    text-align: left;
  }
  
  .pdetails  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .pdetails  th,.pdetails  td {
    padding: 15px;
  }
.pdetails td:nth-child(even) {
    background-color: #f2f2f2;
    width: 60%;
    color: rgb(71, 70, 70);
}